*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result content__details";
  align-items: end;
  gap: 30px;
  width: 1140px;
  height: 534px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.result {
  display: flex;
  flex-direction: column;
  grid-area: result;
  justify-content: end;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  object-fit: cover;
}

.result__video {
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 54px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
}

input[type="text"] {
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  padding: 2.5px 14px 2.5px 0;
  color: #fff;
  font-size: inherit;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}

input[type="text"]::placeholder {
  opacity: 70%;
  color: #fff;
  font-size: 18px;
}

.search-form__label:has(> input[type="text"]:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

input[type="text"]:hover {
  cursor: text;
}

input[type="text"]:active {
  border: 1px solid #fff;
}

.search-form__input:not(:placeholder-shown) {
  color: inherit;
  font-size: inherit;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: #000;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 17px;
  height: 17px;
  border: 1px solid #000;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.search-form__label-text:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  cursor: pointer;
}

.search-form__label:has(> input[type="checkbox"]:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label-text {
  margin-left: 5px;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
}

.search-form__submit-button {
  padding: 6px 73.5px;
}

.title {
  font-weight: bold;
  font-size: 75px;
  line-height: 0.85;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  display: -webkit-box;
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.content__details {
  display: flex;
  flex-direction: column;
  grid-area: content__details;
  justify-content: end;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 26px;
}

.content__list-container {
  height: 298px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
}

.more-button {
  width: 390px;
  margin: 30px 2px 2px 2px;
  padding: 6px 0;
  text-align: center;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.result__video-container,
.content__list-container {
  position: relative;
}

.preloader {
  position: absolute;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
